.item-title {
  bottom: 0;
  position: absolute;
  padding-top: 1vh;
  width: 100%;
  height: 2.6rem;
  line-height: 100%;
  vertical-align: bottom;
  font-size: 1.3rem;
  color: white;
  background-color: #00000066;
  z-index: 5;
  padding: 0 3%;
  display: flex;
  span {
    margin-top: 2%;
  }
}
.item-category {
  top: 5%;
  padding: 0 5%;
  text-align: end;
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #ff9d0066;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}
.recipe-description {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .item-title {
    height: 2rem;
    font-size: 0.8rem;
  }
  .item-category {
    font-size: 0.8rem;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .item-title {
    font-size: 1rem;
  }
  .item-category {
    font-size: 0.8rem;
  }
}
