body {
  margin: 0;
  padding: 0;
  background: rgb(195, 238, 255);
  background: radial-gradient(
    circle,
    //aditional for testing purposes
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 1%,
    rgb(255, 255, 255) 30%,
    rgb(195, 238, 255) 100%
  );
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background: transparent;
  border: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  outline: none;
  width: 100%;
}
@import "./initial";
@import "./login";
