html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.initial-background {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background: rgb(195, 238, 255);
  background: radial-gradient(
    circle,
    //aditional for testing purposes
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 1%,
    rgb(255, 255, 255) 30%,
    rgb(195, 238, 255) 100%
  );
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background: transparent;
  border: none;
  letter-spacing: 0.1rem;
  outline: none;
  width: 100%;
}

.box-element {
  background-color: #f4feff;
  border: 1px solid #ebebeb;
  box-shadow: #d3d3d333 0 0 1rem 0, #d3d3d333 0 0 1rem 0;
  border-radius: 2rem;
}

@import "./initial";
@import "./login";
@import "./MyKitchen.scss";
@import "./Schedule.scss";
@import "./Search.scss";
@import "./Statistics.scss";
