.my-kitchen-nav {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  .nav-item {
    height: 50%;
    border-radius: 4pt;
    width: 50%;
    padding: 0.3rem;
    margin: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    font-family: "Teko", sans-serif;
    color: #828282;
    font-size: 2rem;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 8px steelblue;
  }
}
.mykitchen-menu {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 12.5vh;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2vw;
  font-size: 3vw;
  width: 40%;
  z-index: 1000;
  right: 0;
  left: 0;
  margin: 0 auto;
  a {
    height: 50%;
    border-right: 1px solid gray;
    width: 50%;
    padding: 0.3rem;
    background-color: transparent;
    cursor: pointer;
    font-family: "Teko", sans-serif;
    color: #828282;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #4a7e92;
      color: white;
    }
    &:last-child {
      border-right: none;
    }
  }
}
.cover-scroll {
  width: 100%;
  position: absolute;
  height: 6.25vh;
  bottom: 6.25vh;
  background: linear-gradient(#ffffff00, #eeeeee);
}
.list-results {
  width: 80%;
  max-height: 75vh;
  overflow-y: scroll;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.item-result {
  width: 24.25%;
  height: 20vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
  border-radius: 0.2rem;
}
.no-margin-right {
  margin-right: 0;
}
.item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 50%;
  background-color: #ffffff;
  img {
    width: 100%;
    top: -50%;
    position: absolute;
  }
}
.item-img-detail {
  position: relative;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -50%;
  overflow: hidden;

  top: 0;
  opacity: 50%;
  background-color: #ffffff;
  img {
    width: 100%;
    top: -50%;
    position: absolute;
  }
}
.item-detail-hidden {
  display: none;
}
.item-detail {
  display: block;
  position: absolute;
  width: inherit;
  height: 75vh;
  z-index: 500;
  background-color: #eeeeee;
  svg {
    width: 10%;
    right: 0;
    position: absolute;
  }
}
.results-name {
  margin-top: 2vh;
  display: block;
  width: 100%;
  color: #828282;
  font-size: 2vw;
  border-bottom: 0.2vh solid #d3d3d38a;
}

.main-filters {
  display: block;
  color: #828282;
  font-size: 1vw;
  width: 100%;
  margin-bottom: 1vh;
}

.filter-button {
  margin-left: 0.5vw;
  padding: 0 0.3vw;
  border-radius: 0.3rem;
  border: 1px solid #828282;
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .item-result {
    width: 32.33%;
    height: 15vh;
  }
  .item-detail {
    svg {
      width: 15%;
    }
  }
}
